1. List five Python keywords and describe what they do.

5 keywords are:
1. if: This is a keyword used to introduce a condition and execute the corresponding codeblock.
2. while: This is used to create a loop that executes till the specified condition is valid.
3. for: This also is used to create a loop that executes till the specified condition is valid.
4. continue: This keyword continues executing the rest oof the code.
5. return: marks the end of execution and returns the desired result.

2. Write an expression to calculate the area of a rectangle with a length of 5 and width of 10.

In [2]:
length=5
width=10
area=width*length
area

50

3. Use the `is` keyword to check if two variables point to the same object

In [4]:
a = 'apple'
b = 'orange'
print(a is b)  # Output: False

False

4. Write a Python expression that combines addition, subtraction, multiplication, and division

In [6]:
a=7
b=12
c=(a+b*2)/5
c

6.2

5. What is the output of `10 % 3`? Explain why

In [8]:
ans=10%3
ans

1

Here, we use the % operator to obtain a remainder as result

6. Check the type of the value `3.14` in Python.

In [9]:
a=3.14
type(a)

float

7. Convert the integer `10` to a float and a string. Print the results.

In [13]:
a=float(10)
b=str(10)
print(a,b)

10.0 10

8. Write a statement to add two strings and print the result.

In [14]:
strA='Soup'
strB='arna'
strA+strB

'Souparna'

9. What data type would the result of `3 > 2` be?

In [15]:
type(3>2)

bool

10. How can you convert a string "123" into an integer?

In [16]:
a=str(123)
b=int(a)
type(b)

int

11. Create a list of 5 elements and print the third element.

In [17]:
lst=[1,2,3,5,7]
print(lst[2])

3

12. Add a new element to a list called `my_list` using the `.append()` method.

In [19]:
my_list=[1,6,90,76,89]
my_list.append(88)
my_list

[1, 6, 90, 76, 89, 88]

13. Remove the last element from a list `my_list` using the `.pop()` method.

In [20]:
my_list=[1,6,90,76,89]
my_list.pop()

89

14. Create a tuple with four elements and try changing the second element. What happens?

In [21]:
tup=[1,2,8,9]
tup[1]=8
tup

[1, 8, 8, 9]

the second element gets changed

15. Use slicing to get the last two elements from a list `[10, 20, 30, 40, 50]

In [22]:
my_list = [10, 20, 30, 40, 50]
last_two = my_list[-2:]
print(last_two)

[40, 50]

Create a tuple with four elements and try changing the second element. What happens?

In [1]:
tup=[2,8,99,100]
tup[1]=5
tup

[2, 5, 99, 100]

in case of tuple, the element remains unchanged

15. Use slicing to get the last two elements from a list `[10, 20, 30, 40, 50]`

In [2]:
lst=[10, 20, 30, 40, 50]
lst[-2:]

[40, 50]

16. Create a dictionary with keys 'name' and 'age' and values 'Alice' and 25.

In [4]:
dict={'name':'Alice', 'age':25}
dict

{'name': 'Alice', 'age': 25}

17. Retrieve the value associated with the key 'name' from the dictionary you created in question 16.

In [5]:
dict={'name':'Alice', 'age':25}
dict['name']

'Alice'

18. Check if the key 'name' exists in a dictionary

In [6]:
dict={'name':'Alice', 'age':25}
'name' in dict

True

19. What is the difference between a list and a set in Python?

In case of sets, elements will not be repeated, while in case of list, elements can be repeated.
Also, lists are within square brackets[], while sets are written within {}.

20. Convert a list `[1, 2, 3, 2, 1]` into a set and print the result.

In [8]:
lst=[1, 2, 3, 2, 1]
st=set(lst)
st

{1, 2, 3}

21. Write an `if` statement that prints 'Greater than 10' if a number is greater than 10.

In [10]:
a=int(input())
if a>10:
    print('Greater than 10')
else:
    print('Less than 10')

56
Greater than 10

22. Write an `if-else` statement that checks if a number is positive or negative.

In [11]:
num=int(input())
if num>0:
    print('Positive')
else:
    print('Negative')

7
Positive

23. Write an `if-elif-else` statement that checks if a number is positive, negative, or zero.

In [12]:
nums=int(input())
if nums>0:
    print('Positive')
elif nums<0:
    print('Negative')
else:
    print('Zero')

-89
Negative

24. Create a Python program that takes an integer as input and prints 'Even' if it is even and 'Odd' if
it is odd

In [13]:
number=int(input())
if number%2==0:
    print('Even')
else:
    print('Odd')

88
Even

25. Write a program that checks if a given year is a leap year.

In [14]:
yr=int(input())
if yr%4==0:
    print('Leap year')
else:
    print('Not a leap year')

2025
Not a leap year

26. Use a nested `if` statement to check if a number is positive and even.

In [15]:
number=int(input())
if number%2==0 and number>0:
    print('Positive and even')
else:
    print('Not positive and even')

10
Positive and even

27. Write a program to check if a variable `x` is between 5 and 10.

In [17]:
number=int(input())
if(number>5 and number<10):
    print('Between 5 and 10')
else:
    print('Not between 5 and 10')

6
Between 5 and 10

28. Write an `if` statement that checks if a variable is a specific data type.

In [18]:
x=int(input())
if type(x)==int:
    print('Integer')
else:
    print('Not integer')

78
Integer

Write a program that prints 'Pass' if a student's grade is 60 or higher, otherwise 'Fail'.

In [22]:
marks=int(input())
if marks>=60:
    print('Pass')

89
Pass

30. Write an `if` statement that prints a message if a variable is empty.

In [27]:
x = input("Enter something: ")
if x == "":
    print("Empty")
else:
    print("Not Empty")

Enter something: 89
Not Empty

31. Use a `for` loop and `range()` to print numbers from 1 to 10.

In [28]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

32. Write a `for` loop that calculates the sum of all numbers from 1 to 20.

In [29]:
sum=0
for i in range (1,21):
    sum+=i
print(sum)

210

33. Use a `for` loop to iterate over a list of names and print each name.

In [30]:
names=['Souparna','Maithili','Chitra','Soumi','Dibyangana','Soumyaa']
for i in names:
    print(i)

Souparna
Maithili
Chitra
Soumi
Dibyangana
Soumyaa

34. Write a program to print the squares of numbers from 1 to 10 using a `for` loop

In [31]:
for i in range (1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

35. Use a `for` loop and `range()` to print all even numbers from 1 to 20

In [33]:
for i in range(1,21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

36. Write a program that counts down from 10 to 1 using a `for` loop.

In [34]:
for i in range (10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

37. Create a list of fruits and use a `for` loop to print each fruit in uppercase

In [37]:
fruits=['apple','orange','kiwi','cherry']
for fruit in fruits:
    print(fruit.upper())

APPLE
ORANGE
KIWI
CHERRY

38. Write a `for` loop that prints the elements in a list along with their index.

In [38]:
fruits=['apple','orange','kiwi','cherry']
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 orange
2 kiwi
3 cherry

39. Use `range()` with three arguments to print every third number from 0 to 30

In [39]:
for i in range(0,31,3):
  print(i)

0
3
6
9
12
15
18
21
24
27
30

40. Write a program to calculate the factorial of a number using a `for` loop.

In [40]:
x=int(input())
fact=1
for i in range(1,x+1):
  fact*=i
print(fact)

6
720

Use a `while` loop to print numbers from 1 to 5.

In [41]:
while i<=5:
  print(i)
  i+=1

 Write a program that keeps asking the user for a password until they enter '1234'

In [42]:
str(input())
while str(input())!='1234':
  print('Try again')

5677
7688
Try again
8899
Try again
1234

43. Write a `while` loop to find the sum of numbers from 1 to 100.

In [43]:
while i>=1 and i<=100:
  sum+=i
  i+=1
print(sum)

5245

44. Use a `while` loop to print the numbers in reverse from 10 to 1.

In [46]:
i=10
while i<=10 and i>=1:
  print(i)
  i-=1

10
9
8
7
6
5
4
3
2
1

45. Write a `while` loop that prints only even numbers between 1 and 20.

In [48]:
i=1
while i>=1 and i<=20:
  if i%2==0:
    print(i)
  i+=1

2
4
6
8
10
12
14
16
18
20

46. Create a `while` loop that stops once a number exceeds 100

In [52]:
i=1
while i>=1 and i<=100:
 print(i)
 i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

Write a `while` loop that repeatedly removes the last element from a list until it's empty.

In [53]:
my_list = [10, 20, 30, 40, 50]

while my_list:
    my_list.pop()  # Removes the last element
    print(my_list)

[10, 20, 30, 40]
[10, 20, 30]
[10, 20]
[10]
[]

Create a countdown timer that counts down from 10 to 1 using `while`.

In [54]:
i = 10

while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

49. Write a program that finds the first 10 multiples of 5 using a `while` loop.

In [55]:
i = 1
count = 0

while count < 10:
    print(5 * i)
    i += 1
    count += 1

5
10
15
20
25
30
35
40
45
50

50. Use a `while` loop to generate a list of the first 10 Fibonacci numbers.

In [56]:
fib_list = [0, 1]
while i < 10:
    next = fib_list[-1] + fib_list[-2]
    fib_list.append(next)
    i += 1