1. to calculate area of circle of radius 7

In [2]:
r=7
area=3.14*7*7
area

153.86

2. 2 * 3 + 4?

In [3]:
ans=2*3+4
ans
print(ans)

10

3. (8 / 2) * (3 + 2).

In [4]:
ans=(8 / 2) * (3 + 2)
ans

20.0

4. Write an expression to find the remainder when 15 is divided by 4.

In [5]:
rem=15%4
rem

3

5. Write a Python expression to convert 100 Fahrenheit to Celsius using the formula: C = (F - 32) *
5/9

In [6]:
F=100
C = (F - 32) *5/9
C

37.77777777777778

6. Evaluate the expression: 10 // 3 + 2 ** 3

In [7]:
ans=10 // 3 + 2 ** 3
ans

11

7. What does the expression 5 == 5 and 4 < 6 evaluate to?

In [8]:
5==5 and 4<6

True

8. What is the output of not (4 > 5 or 3 == 3)?

In [9]:
not (4 > 5 or 3 == 3)

False

9. Write an expression that checks if a number x is odd

In [11]:
x=5
if x%2!=0:
  print("this number is odd")
else:
  print("no, this number is not odd")

this number is odd

Data Types

10. What is the type of the value 5.0?

In [12]:
type(5.0)

float

11. How do you convert the integer 42 to a string?

In [14]:
s= str(42)
type(s)

str

12. What will the expression str(3.14) + ' is pi' output?:

In [16]:
print(str(3.14) +' is pi')

3.14 is pi

13. What is the output type of the expression 4 + 3.5?

In [17]:
type(4+3.5)

float

14. Write a Python code to take an input from the user and convert it to an integer

In [52]:
print('please enter input')
x=input()
print(int(x))

please enter input
8
8

15. How can you find the type of a variable in Python?

Ans:- using the type() function

In [50]:
x=input()
print(type(x))

'souparna'
<class 'str'>

16. Create a variable my_name and assign your name to it. Check if it is of type str

In [21]:
my_name='Souparna'
type(my_name)

str

Data Structures - Lists, Tuples, Sets, and Dictionaries

17. How do you create an empty list in Python?

In [22]:
lst=list()
lst

[]

18. Write code to add an element 42 to the end of the list [1, 2, 3]

In [23]:
lst=[1,2,3]
lst.append(42)
lst

[1, 2, 3, 42]

19. How do you access the third element in the list my_list = [10, 20, 30, 40]?

In [24]:
my_list = [10, 20, 30, 40]
print(my_list[2])

30

20. What is the difference between a list and a tuple in Python?
ans:- in list, we use [], while in tuple we use ().
The append function works on lists but not on tuple

21. Write a Python code to create a set with the elements 1, 2, and 3

In [25]:
set={1,2,3}
set

{1, 2, 3}

22. How do you remove an element from a set in Python?

In [26]:
my_set = {1, 2, 3, 4}
my_set.remove(3)
print(my_set)

{1, 2, 4}

we can use the set_name.remove() function

23. Write code to retrieve the value of the key 'name' from the dictionary person = {'name': 'Alice',
'age': 25}.

In [27]:
new_dict={'name': 'Alice', 'age': 25}
new_dict['name']

'Alice'

24. Create a dictionary with three key-value pairs and then remove one pair from it.

In [30]:
my_dict={'name':'Souparna','age':'21', 'gender':'female'}
my_dict.pop('gender')
my_dict

{'name': 'Souparna', 'age': '21'}

25. Given my_tuple = (5, 10, 15), how can you access the element 10?

In [ ]:
tup=(5,10,15)
tup[1]

Methods of Data Structures
26. How do you find the length of a list numbers = [1, 2, 3, 4, 5]?

In [31]:
lst=[1,2,3,4,5]
len(lst)

5

27. What method would you use to add an element at a specific index in a list

In [32]:
lst=[1,2,4]
lst.insert(2,3)
lst

[1, 2, 3, 4]

here, we use the list_name.insert() function where we first mention the index and then  the value

28. Write a Python code to sort the list [4, 1, 3, 2] in ascending order.

In [33]:
list=[4,1,3,2]
list.sort()
list

[1, 2, 3, 4]

29. How do you check if the number 5 is in the list [1, 2, 3, 4, 5]?

In [ ]:
lst=[1,2,3,4,5]
if 5 in lst:
  print('yes, 5 is in the list')
else:
  print('no, 5 is not in the list')

30. Write a code to concatenate two lists [1, 2, 3] and [4, 5, 6].

In [34]:
list1=[1,2,3]
list2=[4,5,6]
list1+list2

[1, 2, 3, 4, 5, 6]

Branching
31. Write a Python if statement to check if a number x is positive

In [36]:
x=input()
if int(x)>0:
  print('yes, the number is postive')
else:
  print('no, x is not positive')

6
yes, the number is postive

In [40]:
#32. Modify the previous question to include else to handle the case when x is negative or zero.
x=input()
if int(x)>0:
  print('yes, the number is postive')
#elif(x==0):
  #print('the number is zero')
else:
  print('x is zero or negative')

-80
x is zero or negative

In [41]:
#33. Write an if-elif-else block to check if a number is positive, negative, or zero
x=input()
if int(x)>0:
  print('yes, the number is postive')
elif(x==0):
  print('the number is zero')
else:
  print('x is negative')

-98
x is negative

34. How would you use a ternary operator to assign the value 10 to result if x > 5, otherwise assign
5?

In [ ]:
res=10 if x>5 else 5
res

35. Write an if statement that checks if a variable score is greater than or equal to 90, and if so,
prints 'A grade'

In [ ]:
marks=input()
if int(marks)>=90:
  print('A grade')

36. Use an if statement to check if a list fruits = ['apple', 'banana', 'cherry'] contains the element
'banana'.

In [42]:
fruits = ['apple', 'banana', 'cherry']
if 'banana' in fruits:
  print('yes, banana is in the list')
else:
  print('we need a banana')

yes, banana is in the list

37. Write a nested if statement that prints 'Adult Male' if age > 18 and gender == 'male'

In [43]:
age=input()
gender=input()
if(int(age)>18):
  if(gender=='male'):
    print('Adult Male')

21
male
Adult Male

In [46]:
#38. Create a Python code snippet using if statements to determine if a number is divisible by 3, 5, or
#both.
x=input()
if int(x)%3==0:
  print('the number is divisible by 3')
elif int(x)%5==0:
  print('the number is divisible by 5')
elif int(x)%15==0:
  print('the number is divisible by 3 and 5')
else:
  print('the number is not divisible by 3 or 5')

54
the number is divisible by 3

39. Write an if condition that checks if a string name is not empty and prints 'Name is provided'

In [47]:
name=input()
if str(name):
  print('Name is provided')

Souparna
Name is provided

40. Use an if statement to check if a variable age is within the range 18 to 25 inclusive.

In [48]:
age=input()
if int(age)>=18 and int(age)<=25:
  print('age is within range')
else:
  print('age is not within range')

21
age is within range